/** global **/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --theme-primary: #ED8E00;
    --theme-secondary: #6A6A6A;
    --theme-dark: #242424;
    --theme-gray: #535e6a;
    --theme-white: #ffffff;
    --theme-purple: #7A00DA;
    --theme-cyan: #00CDDA;
    --theme-magenta: #DA0069;
    --theme-yellow: #FF9900;
    --theme-light-blue: #0098DA;
    --theme-dark-blue: #004C6C;
    --theme-font-inter: "Inter", sans-serif;
    --theme-font-merriweather: "Merriweather", serif;
    --font-size-19: 19px;
    --font-size-12: 12px;
    --transition: all .3s ease-in-out;
}
body{
    padding: 0;
    margin: 0;
}
h1,
h2,
h3{
    padding: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
    max-width: calc(1920px - (388px*2));
}
/** navigation **/
.site-navigation{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 80px 0;
    transition: var(--transition);
}
.site-navigation.scrolled {
    padding: 18px 0;
    background-color: var(--theme-white);
}
.service-nav-wrapper {
    position: relative;
    transition: top 0.3s ease;
    background-color: var(--theme-white);
}

.service-nav-wrapper.fixed {
    position: fixed;
    top: 80px; /* Adjust to match the Navbar’s height */
    width: 100%;
    z-index: 1000;
}

.services-navigation{
    padding: 48px 0;
}
.services-navigation .container{
    max-width: clamp(300px, calc(1920px - (494px * 2)), 1200px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services-navigation a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: var(--font-size-19);
    font-family: var(--theme-font-merriweather);
    font-weight: 700;
    text-transform: capitalize;
    gap: 5px;
}
/** components **/
.btn{
    border-radius: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--font-size-12);
    font-size: var(--font-size-19);
    padding: 18px 24px;
    text-decoration: none;
    transition: var(--transition);
}
.btn span{
    display: flex;
    align-items: center;
}
.btn img{
    height: 28px;
    width: 28px;
}
.btn.icon-start{
    flex-direction: row-reverse;
}
.btn.btn-default{
    border: 1px solid var(--theme-primary);
    background-color: var(--theme-gray);
    color: var(--theme-primary)
}
.btn.btn-primary{
    background-color: var(--theme-primary);
    color: var(--theme-white);
}
.btn-cta{
    color: var(--theme-light-blue);
    border: 2px solid var(--theme-light-blue);
    background-color: transparent;
    text-decoration: none;
    transition: var(--transition);
    font-size: var(--font-size-19);
}
.btn-cta:hover{
    color: var(--theme-white);
    background-color: var(--theme-light-blue);
}
.custom-logo img{
    filter: invert(1);
    transition: var(--transition);
}
.scrolled .custom-logo img{
    filter: invert(0);
}
.page-title{
    font-family: var(--theme-font-merriweather);
    font-weight: 700;
    font-size: 64px;
    line-height: 67.5px;
}
.lead{
    font-family: var(--theme-font-inter);
    font-size: var(--font-size-19);
    font-weight: 500;
    line-height: 22.99px;
}
.col-text{
    color: var(--theme-secondary);
    padding: 60px 0;
}
.col-image img{
    max-width: 440px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}
/** layouts **/
.hero{
    min-height: clamp(780px, 10vh, 100vh);
    padding: 240px 0;
}
.hero .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: column;
    height: 100%;
    color: var(--theme-white);
}
.hero-content{
    max-width: 554px;
}
.hero-content .links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--font-size-12);
}
.hero .scroll-wrap{
    margin-top: 128px;
    width: 42px;
    height: 40px;
    background-color: #424c57;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.hero .scroll-wrap > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px 12px;
}
.hero .scroll-wrap > a img{
     width: 18px;
     height: auto;

 }
/**  service section **/
.service-section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.service-section:nth-child(odd){
    margin-bottom: 80px;
}
.service-section:nth-child(odd) .container {
    flex-direction: row-reverse;
}
.service-section .container .col{
    flex: 1;
}
.service-section .title-group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--font-size-12);
}
.service-section .title-group .icon-wrap{

}
.service-section .title-group .title-wrap{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}
.service-section .title-group .title-wrap small{
    color: var(--theme-secondary);
    text-transform: uppercase;
    font-family: var(--theme-font-inter);
    font-weight: 700;
}
/**  cta section **/
.cta-section{
    background-color: var(--theme-dark-blue);
    position: relative;
    overflow: hidden;
    color: var(--theme-white);
    text-align: center;
    padding: 64px 0;
}
.cta-section .img-wrap{
    position: absolute;
    right: -10%;
    top: -5%;
}
.cta-section .img-wrap img{
    object-position: center;
    border-radius: 50% 0 0 50%;
    mix-blend-mode: overlay;
    filter: brightness(0.5) grayscale(1);
    opacity: .3;
}
.cta-section .icon-wrap{
    background-color: var(--theme-light-blue);
    width: 120px;
    height: 120px;
    margin: 0 auto 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.cta-section .pre-title{
    font-family: var(--theme-font-inter);
    font-size: var(--font-size-12);
    font-weight: 700;
    color: #9CB8C3;
    line-height: var(--font-size-12);
    margin-bottom: 4px;
}
.cta-section .section-title{
    font-size: 42px;
    font-weight: 700;
    color:var(--theme-light-blue);
    line-height: 42px;
    padding: 0;
    margin: 0;
}
.cta-section .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

/**  footer **/

